<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials :: head ('Upcoming Events')}">
    <title>Cookie's Place</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>
<h1>Upcoming Events</h1>
<div>
    <h1 th:text="${event.title}" class="event-title"></h1>
    <p th:text="${event.date}" class="event-date"></p>
    <p th:text="${event.time}" class="event-time"></p>
    <p th:text="${event.guests}" class="event-guests"></p>
</div>
</div>
<div th:replace="~{partials :: boot-scripts}"></div>
<footer th:replace="~{partials :: footer}"></footer>
</body>
</html>