<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials :: head ('Create A New Review')}">
    <title>Create A Post</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>
<div class="container">
    <form action="/posts/create" method="post">
        <label for="date">Show/Event Date</label>
        <input type="text" name="date" id="date">
        <br>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <br>
        <label for="body">Message</label>
        <br>
        <textarea name="body" id="body" cols="50" rows="20" placeholder="Tell us what you think. How did you like the show? Do you have any suggestions or ideas?"></textarea>
        <br>
        <button class="btn mkpost" type="submit" value="Create Post">Submit Post</button>
    </form>
</div>
<div th:replace="~{partials :: boot-scripts}"></div>
<footer th:replace="~{partials :: footer}"></footer>
</body>
</html>