body {
    background-color: black;
}

.navbar {
    font-weight: bold;
    color: khaki;
    background-color: #732009;
    border: 0;
    font-size: 12px !important;
}

.navbar-title {
    color: khaki;
    font-size: 20px;
    text-decoration: none;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
    color: khaki;
}

.title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: khaki;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: khaki;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}

.drinks {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
}

.container {
    color: wheat;
    margin: 3em;
    padding: 1em;
}

.mkpost {
    background-color: green;
    color: wheat;
    margin: 3em;
    padding: 1em;
}

.post-title {
    color: blue;
}

.post-body {
    color: wheat;
}

.bookform {
    color: wheat;
    margin: 3em;
}

.input {
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: #02B0BB;
}

.disclaimer {
    color: wheat;
}

.footer {
    background-color: #02B0BB;
    border: 0;
    font-size: 12px !important;
    position: absolute;
    width: 100%;
    height: 2.5em;
}

.foot-text {
    padding-top: .5em;
    margin-left: 1em;
}